[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
screed = "*"
numpy = "*"

[dev-packages]
pytest = "*"
pytest-flake8-v2 = "*"
pytest-pydocstyle = "*"
pytest-cov = "*"
twine = "*"